<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="fb1" connectionString="User=SYSDBA;Password=masterkey;Database=D:\TEST_DB.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=WIN1250;Role=;Pooling=true;MinPoolSize=2;MaxPoolSize=20;IsolationLevel=ReadUncommitted;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
</configuration>